/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #151515;
  color: #ffffff;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  background-color: #151515;
  padding: 8px 12px;
  text-align: center;
  margin-top: 14px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  color: #ffffff;
  border: 1px white solid;
}

table {
	border-collapse: collapse;
	border: 1.5px white solid;
  background-color: #151515;
	width: 100%;
  color: white;
  white-space:pre-warp;
}

th {
	height: 30px;
	border: 1px white solid;
	text-align: left;
  padding: 10px;
  background-color: #000000 ;
}

td {
	text-align: center;
	border: 1px white solid;
  padding: 10px;
}

tr:hover {
  background-color: #000000 ;
}


.banner {
  text-align: center;
  color: #ffffff
}

p{
  color: #ffffff;
}

body {
	background: #151515 ;
	color: white ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}
a{
  color: lightblue;
}
a:visited{
  color: gray;
}
.disclaimer{
  text-align: center;
}
.topnav a:visited{
  color: white;
}
.banner a:visited{
  color:white;
}
.banner a:link{
  text-decoration: none;
}
