 <br>
 <h2> About this site </h2>
 <p>Built to provide online academic papers without ads or bloat web design. </p>
 <ul>
   <li> All respect is due to the people who wrote this academic papers.
   <li> All papers are original pdf versions of the academic paper composed by the
 author(s)</li>
   <li>You can find the author and organisations involved in the paper in the table of content
 and in pdf. </li>
 </ul>
 <br>
 <h2> Project </h2>
 <p> To index the world OSINT </p>
 <ul>
   <li> This project is Open Source and is available at <a href=http://github.com>GitHub </a></li>
   <li> Developed by <em>trevalkov<em></li>
<hr>
<p class='disclaimer'> All site content is in the Public Domain </p>
</body>
</html>
