<%- include("partials/header") %>

<div class="banner">
    <h1> Dunims </h1>
    <hr/>
</div>
<p>Only academic papers. No ads, no tracking, nothing but academic papers.</p>
<br>
<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Year </th>
      <th> Author </th>
      <th> Institution </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <a href="/files/paper1.pdf">Theory of Everything</a></td>
      <td> 2021 </td>
      <td> trevalkov </td>
      <td> N/A </td>
    </tr>
  <tbody>
</table>

<%- include("partials/footer") %>
