<%- include("partials/header") %>

<h1>This is the papers page</h1>

<script>

// -- Print papers to the page
// :: Query database to obtain an array of objects
// :: For each object in the array
// :: Split data title:year:author:organisation
// :: Show data in an HTMl structure - for now just print <p>
var papers =
</script>
<%- include("partials/footer") %>
