<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>PirateScrolls</title>
    <meta name="description" content="Only academic papers, no ads, no tracking.">
  </head>
  <body>
  <div class="topnav">
    <a href="/">Papers</a>
    <a href="/about">About</a>
    <a href="https://github.com/trevalkov">Contact</a>
  </div>
  <div class="banner">
    <h1><a href="http://localhost:8080">PirateScrolls</a></h1>
    <hr/>
  </div>
  <p>Only academic papers. no ads, no tracking</p>
  <br>
