<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>PirateScrolls</title>
    <meta name="description" content="Only academic papers, no ads, no tracking.">
  </head>
  <body>
  <div class="topnav">
    <a href="#about">About</a>
    <a href="https://github.com/trevalkov">Contact</a>
  </div>
  <div class="banner">
    <h1><a href="http://localhost:8080">PirateScrolls</a></h1>
    <hr/>
  </div>
  <p>Only academic papers. no ads, no tracking</p>
  <br>
  <table>
    <thead>
      <tr>
        <th> Title </th>
        <th> Year </th>
        <th> Author </th>
        <th> Organisation </th>
      </tr>
    </thead>
    <tbody>
      <%
        if(paperData.length!=0){
        var i=1;
        paperData.forEach(function(data){
      %>
      <tr>
        <td><a href='/files/paper<%=i%>.pdf'><%=data.title%> </a></td>
        <td> <%=data.year %></td>
        <td> <%=data.author %></td>
        <td> <%=data.organisation %></td>
      </tr>
      <% i++; }) %>
      <% } else { %>
      <tr>
        <td colspan="4"> No Data Found</td>
      </tr>
      <% } %>
    <tbody>
  </table>
  <br>
  <h2 id="about"> About this site </h2>
  <p>Born to provide online academic papers without ads, tracking or bloat web design. </p>
  <ul>
    <li> Copyright of distributed papers belong to the authors of such publications.</li>
    <li> All papers are in pdf format published online by the author(s)</li>
    <li>You can find the author and organisations involved in the paper in the table of contents and inside the pdf. </li>
  </ul>
  <br>
  <h2> Project </h2>
  <p> To index the world OSINT </p>
  <ul>
    <li> This project is Open Source and is available at <a
    href=http://github.com/trevalkov>GitHub </a></li>
    <li> Developed by <em>trevalkov</em></li>
  </ul>
  <br>
  <h2 id="about"> About this site </h2>
  <p>Born to provide online academic papers without ads, tracking or bloat web design. </p>
  <ul>
    <li> All respect is due to the authors of such academic papers orpublications.</li>
    <li> All papers are in pdf format published online by the author(s)</li>
    <li>You can find the author and organisations involved in the paper in the table of contents and inside the pdf. </li>
  </ul>
  <br>
  <h2> Project </h2>
  <p> To index the world OSINT </p>
  <ul>
    <li> This project is Open Source and is available at <a
    href=http://github.com/trevalkov>GitHub </a></li>
    <li> Developed by <em>trevalkov</em></li>
  </ul>
  <hr>
  <p class='disclaimer'> All site content is in the Public Domain </p>
  </body>
</html>
