<%- include("partials/header") %>
  <br>
  <h2 id="about"> About this site </h2>
  <p>Born to provide online academic papers without ads, tracking or bloat web design. </p>
  <ul>
    <li> Copyright of distributed papers belong to the authors of such publications.</li>
    <li> All papers are in pdf format published online by the author(s)</li>
    <li>You can find the author and organisations involved in the paper in the table of contents and inside the pdf. </li>
  </ul>
  <br>
  <h2> Project </h2>
  <p> To index the world OSINT </p>
  <ul>
    <li> This project is Open Source and is available at <a
    href=http://github.com/trevalkov>GitHub </a></li>
    <li> Developed by <em>trevalkov</em></li>
  </ul>
<%- include("partials/footer") %>
